/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* My styles */

@font-face {
    font-family: 'ubuntubold';
    src: url('./fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold_italic';
    src: url('./fonts/ubuntu-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntuitalic';
    src: url('./fonts/ubuntu-italic-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntulight';
    src: url('./fonts/ubuntu-light-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntulight_italic';
    src: url('./fonts/ubuntu-lightitalic-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntumedium';
    src: url('./fonts/ubuntu-medium-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntumedium_italic';
    src: url('./fonts/ubuntu-mediumitalic-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubunturegular';
    src: url('./fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

svg {
    width: 24px;
    height: 24px;
    background-color: brown;
}

body {
  height: 100vh;
  font-family: "ubunturegular", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.12rem;
}

.container {
    display: flex;
    height: 100vh;
    position: relative;
}

.aside {
    /* position: absolute; */
    width: 260px;
    height: 100%;
    background-color: rgb(69, 64, 64);
    color: whitesmoke;
    padding: 20px;
}

.close-aside {
    display: none;
    transition: all 3000ms ease;
    transform: translateX(-100%);
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.title {
    font-family: "ubuntubold", sans-serif;
    font-size: 1.4rem;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.nav-tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 6px;
    border-radius: 12px;
}

.nav-button:hover,
.nav-button:focus {
    background-color: rgb(11, 11, 84);
}

.projects-title {
    display: flex;
    justify-content: space-between;
    font-family: "ubuntubold", sans-serif;
    font-size: 1.2rem;
}

.content {
    width: 100%;
    background-color: aqua;
}

.content-inner {
    width: 800px;
    margin: 0 auto;
    background-color: bisque;
}