:root {
    /* text sizes */

    --14px: 0.875;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
    --24px: 1.5rem;
    --48px: 3rem;

    /* color palette */

    --main-bg-color: #121212;
    --secondary-bg-color: #1B1F3B;
    --hover-bg-color: #2A2D34;
    --main-text-color: #F1F1F1;
    --secondary-text-color: #C9A635;
    --green-color: #008000;
    --yellow-color: #ffde21;
    --red-color: #cd1c18;
}

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* My styles */

@font-face {
    font-family: 'ubuntubold';
    src: url('./fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold_italic';
    src: url('./fonts/ubuntu-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntuitalic';
    src: url('./fonts/ubuntu-italic-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntulight';
    src: url('./fonts/ubuntu-light-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntulight_italic';
    src: url('./fonts/ubuntu-lightitalic-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntumedium';
    src: url('./fonts/ubuntu-medium-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntumedium_italic';
    src: url('./fonts/ubuntu-mediumitalic-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubunturegular';
    src: url('./fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  height: 100vh;
  font-family: "ubunturegular", sans-serif;
  font-size: var(--16px);
  line-height: 1.6;
  letter-spacing: 0.12rem;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--hover-bg-color);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background: var(--secondary-text-color);
    border-radius: 20px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.container {
    display: flex;
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 260px;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--secondary-bg-color);
    transition: transform 300ms ease;
}

.header-and-main-wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 26px;
    background-color: transparent;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 76px);
    width: 800px;
    padding: 20px;
    margin: 0 auto;
}

.main-title-and-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    font-family: "ubuntubold", sans-serif;
    font-size: var(--21px);
    color: var(--secondary-text-color);
}

.buttons-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.theme-button {}

.svg {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #2A2D34;
    border-radius: 50%;
}

.close-aside-button {}

.add-task-and-pages-wrapper {}

.add-task-button, .pages-list-button {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 6px 12px;
    border-radius: 12px;
}

.add-task-button {
    font-family: "ubuntubold", sans-serif;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}

.pages-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pages-list-item {}

.project-add-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    font-size: var(--18px);
    padding: 6px 0;
}

.header-buttons-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
} 

.header-button-change {}

.header-button-delete {}

.main-page-title {
    font-family: "ubuntubold", sans-serif;
    font-size: var(--48px);
    margin-bottom: 20px;
}

.main-add-task-btn {
    font-family: "ubuntubold", sans-serif;
    font-size: var(--21px);
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--secondary-text-color);
    margin-bottom: 40px;
}

.active-page-button {
    background-color: var(--hover-bg-color);
}

.close-aside {
    position: absolute;
    transform: translateX(-100%);
}

.open-aside {
    position: absolute;
    top: 0;
    left: 0;
    padding: 22px;
}

.add-task-dialog {
    margin: auto;
    border-radius: 20px;
    width: 800px;
    padding: 40px;
    background-color: var(--secondary-bg-color);
    color: var(--main-text-color);
    overflow: visible;
}

.add-task-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4); 
}

.add-task-form {
    display: flex;
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.task-name-input {
    width: 100%;
    font-size: var(--24px);
    margin-bottom: 20px;
    color: var(--secondary-text-color);
}

.task-description-textarea {
    width: 100%;
    height: 60px;
    font-size: var(--18px);
    margin-bottom: 32px;
    border: none;
    outline: none;
    resize: none
}

.task-description-textarea::-webkit-scrollbar {
    width: 10px;
}

.task-description-textarea::-webkit-scrollbar-track {
    background: var(--hover-bg-color);
    border-radius: 20px;
}

.task-description-textarea::-webkit-scrollbar-thumb {
    background: var(--secondary-text-color);
    border-radius: 20px;
}

.settings-list {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.settings-list-item {}

.settings-list-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
    border: 1px solid var(--main-text-color);
    border-radius: 6px;
}

.datepicker-toggle {
    position: relative;
    padding: 8px 12px;
    border: 1px solid var(--main-text-color);
    border-radius: 6px;
}

.datepicker-toggle-button {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.datepicker-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
} 

.add-task-buttons-wrapper, .add-project-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.cancel-task-button, .dialog-add-task-button, .cancel-project-button, .dialog-add-project-button {
    width: 120px;
    padding: 12px 0;
    border-radius: 12px;
    background-color: var(--hover-bg-color);
}

.dialog-add-task-button, .dialog-add-project-button {
    background-color: var(--secondary-text-color);
}

.green {
    border: 2px solid var(--green-color);
    color: var(--green-color);
}

.yellow {
    border: 2px solid var(--yellow-color);
    color: var(--yellow-color);
}

.red {
    border: 2px solid var(--red-color);
    color: var(--red-color);
}

.priority-wrapper, .project-wrapper {
    position: relative;
}

.priority-list, .project-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 46px;
    left: 0;
    width: 200px;
    border-radius: 6px;
    padding: 20px;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.priority-list-item, .project-list-item {}

.priority-list-button, .project-list-button {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.hide {
    display: none;
}

.add-project-dialog {
    margin: auto;
    border-radius: 20px;
    width: 600px;
    padding: 40px;
    background-color: var(--secondary-bg-color);
    color: var(--main-text-color);
    overflow: visible;
}

.add-project-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4); 
}

.add-project-form {
    display: flex;
    flex-direction: column;
}

.button-and-project-name-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}

.color-button {}

.project-name-input {
    width: 100%;
    font-size: var(--24px);
    color: var(--secondary-text-color);
}

.cancel-project-button {}

.dialog-add-project-button {}

.color-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    position: absolute;
    top: 72px;
    left: 40px;
    width: 160px;
    border-radius: 6px;
    padding: 6px;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.color-list-item {
    width: 24px;
    height: 24px;
}

.color-list-button {}

.all-tasks-list, .completed-tasks-list, .today-tasks-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tasks-list-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 20px;
    border-radius: 12px;
    background-color: var(--secondary-bg-color);
}

.completed-button {}

.title-and-description-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.task-title {
    font-family: "ubuntubold", sans-serif;
    font-size: var(--21px);
    color: var(--secondary-text-color);
}

.task-description {
    width: 100%;
    max-height: 80px;
    font-size: var(--16px);
    overflow: auto;
}

.task-description::-webkit-scrollbar {
    width: 10px;
}

.task-description::-webkit-scrollbar-track {
    background: var(--hover-bg-color);
    border-radius: 20px;
}

.task-description::-webkit-scrollbar-thumb {
    background: var(--secondary-text-color);
    border-radius: 20px;
}

.manage-and-project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.edit-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.edit-button {}

.delete-button {}

.task-project {}