:root {
    /* text sizes */

    --14px: 0.875;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
    --48px: 3rem;

    /* color palette */

    --main-bg-color: #121212;
    --secondary-bg-color: #1B1F3B;
    --hover-bg-color: #2A2D34;
    --main-text-color: #F1F1F1;
    --add-task-color: #C9A635;
}

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* My styles */

@font-face {
    font-family: 'ubuntubold';
    src: url('./fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold_italic';
    src: url('./fonts/ubuntu-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntuitalic';
    src: url('./fonts/ubuntu-italic-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntulight';
    src: url('./fonts/ubuntu-light-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntulight_italic';
    src: url('./fonts/ubuntu-lightitalic-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntumedium';
    src: url('./fonts/ubuntu-medium-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntumedium_italic';
    src: url('./fonts/ubuntu-mediumitalic-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubunturegular';
    src: url('./fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  height: 100vh;
  font-family: "ubunturegular", sans-serif;
  font-size: var(--16px);
  line-height: 1.6;
  letter-spacing: 0.12rem;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

.container {
    display: flex;
    height: 100vh;
    position: relative;
}

.aside {
    width: 260px;
    height: 100%;
    padding: 20px;
    background-color: var(--secondary-bg-color);
    transition: transform 300ms ease;
}

.close-aside {
    position: absolute;
    transform: translateX(-100%);
}

/* temporary solution */

#close-aside-btn, #open-aside-btn {
    background-color: #F1F1F1;
}

.open-aside-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 20px;
    left: 20px;
    transition: all 300ms ease;
}

svg {
    display: block;
    width: 24px;
    height: 24px;
    background-color: rgb(33, 30, 30);
    border-radius: 50%;
}

/*  */

.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.title {
    font-family: "ubuntubold", sans-serif;
    font-size: var(--21px);
}

.title-wrapper-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.nav-tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-tasks-item:first-child {
    color: var(--add-task-color);
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 6px;
    border-radius: 12px;
}

.nav-button:hover,
.nav-button:focus {
    background-color: var(--hover-bg-color);
}

.projects-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "ubuntubold", sans-serif;
    font-size: var(--19px);
}

.add-project-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    flex-grow: 1;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 20px;
    border: 2px solid var(--hover-bg-color);
}

.main-title {
    font-family: "ubuntubold", sans-serif;
    font-size: var(--48px);
}

.main-add-task-btn {
    font-family: "ubuntubold", sans-serif;
    font-size: var(--21px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--add-task-color);
}

.main-add-task-btn svg {
    width: 32px;
    height: 32px;
}